#webbanner{
    display: flex;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 90%;
    size: 20px;
    margin-left: 5%;
    align-items: baseline;
}
.banLink{
    color: darkred;
    padding-left: 5%;   
}

a{   text-decoration: none;     }   
a:hover {   color: rgb(207, 248, 71);   }
header{     background-color: rgb(197, 229, 202);    }
body{       background-color: rgb(197, 229, 202);   }

.head1{
   padding-left: 2%;
   padding-right: 2%;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2%;
}
.contain1{
    display: flex;
    padding-left: 5%;
    padding-right: 5%; 
    width: 100%;
}

#banner{
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}

#lefthead{
    background: linear-gradient(#0F3443, #34E89E)  }

#righthead{
    background-color: rgb(91, 129, 101); 
    display: block;
}

#yticon{    border-radius: 20%; }
.SMhead{
    color: aliceblue;
    box-shadow: inset 15%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
#tiktok{
 border-radius: 50%;
 padding-top: 15%;
}

.contain2{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    justify-content: center;
}
.body1{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(175, 195, 175);
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1%;
    
}
#botBan{
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 75px;
    display: flex;
    margin-left: 5%;
}
.CI{
    padding-left: 5%;
    padding-top: 2%;
}
.TIG{   border-radius: 20%; }
.socmed{
    padding-left: 3%;
    padding-top: 1%;
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { }
